html {
    height: 100%;
}

body {
    height: 100%;
}

.maintitle {
    width: 100%;
    text-align:center;
    background-color: #333f50;
}
.maintitle_img {
    width: 100%;
    display:inline-block;
}

.title_img {
    width: 4%;
}